.display-3 {
  font-family: "Times New Roman";
  text-align: center;
}

.breede {
  width: 100%;
}

.container {
  margin-bottom: 80px;
}

@media (min-width: 501px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}



.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 80%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;

}
}

@media (min-width: 772px){

h4{
  font-size: 16px;
}

p {
  font-size: 12px;
}



.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 40%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;

}
}

@media (max-width: 500px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}

.container {
  padding: 0px;
  position: absolute;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 100%;
  margin-top: 100px;

}
}

@media (min-width: 1000px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}

.page {
  width: 30%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
}
.card a {
  color: black;
}

.card a:hover {
  color: black;
  text-decoration: none;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.justify-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-remove {
  padding: 0;
}

.deleteknop {
  padding-left: 20px;
  font-size: 20px;
  position: absolute;
  color: red;
  background-color: transparent;
  border: none;
}

.deleteknop:hover {
  cursor:pointer
}

.createbutton {
  border: none;
  border-radius: 0;
  background-color: #31AA1D;
}

.createbutton:hover {
  background-color: #2e8f1e;
}
