.display-3 {
  font-family: "Times New Roman";
  text-align: center;
}

.breede {
  width: 100%;
}

.container {
  margin-bottom: 80px;
}

@media (min-width: 501px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}



.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 80%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;

}
}

@media (min-width: 772px){

h4{
  font-size: 16px;
}

p {
  font-size: 12px;
}



.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 40%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;

}
}

@media (max-width: 500px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}

.container {
  padding: 0px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.page {
  width: 100%;
  margin-top: 100px;

}
}

@media (min-width: 1000px){

h4{
  font-size: 18px;
}

p {
  font-size: 14px;
}

.page {
  width: 30%;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
}
.card a {
  color: black;
}

.card a:hover {
  color: black;
  text-decoration: none;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.justify-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-remove {
  padding: 0;
}

.deleteknop {
  padding-left: 20px;
  font-size: 20px;
  position: absolute;
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
}

.deleteknop:hover {
  cursor:pointer;
  outline: none;
}

.deleteknop:active {
  outline: none;
}

.deleteknop:link {
  outline: none;
}



.createbutton {
  border: none;
  border-radius: 0;
  background-color: #31AA1D;
}

.createbutton:hover {
  background-color: #2e8f1e;
}

.pagination li a {
  color: #feffff;
}

.pagination li {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
    border: solid 1px #32373b;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.pagination li:hover {
  background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.pagination .active {
  border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}
