.padding-top {
  padding-top: 25px;
}

#title, #description, #image, #category, #slug{
  margin-bottom: 20px;
}

.right-side {
  float: right;
}

.left-side {
  float: left;
}

.panel {
  margin-top: 25px;
}

.panel-heading {
  font-weight: bold;
}

.btn-warning {
  font-size: 14px;
  padding: 5px 4px;
  background-color: #6C6C6C;
  border-color: #6C6C6C;
}

.right-side {
  float: right;
}
