.margin-top {
  margin-top: 35px;
}

.btn-warning, .btn-primary, .btn-danger {
  font-size: 14px;
  padding: 5px 4px;
  background-color: #6C6C6C;
  border-color: #6C6C6C;
}


.whitespace {
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

.right-side {
  position: absolute;
  float: right;
  right: 30px;

}

.left-side {
  position: absolute;
  float: left;
}
